* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(5, 5, 29);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 50%;
  rotate: 30deg;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
}

.dados {
  width: 30rem;
  height: 26rem;
  display: flex;

  padding: 1rem;

  flex-direction: column;

  border: none;
  border-radius: 20px;

  box-shadow: 0rem 0rem 2rem #00FF5A;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.lab {
  color: white;
  margin-bottom: 0.2rem;
  font-family: 'Nunito', sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
}

.inp {
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.button {
  height: 2.5rem;
  border-radius: 10px;
  background-color: #00bb41;
  border: none;
  font-size: 1rem;
  color: rgb(216, 216, 216);
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #009634;
  box-shadow: 009634;
  transition: 0.5s;
}

.title, .register {
  color: white;
  font-family: 'Nunito', sans-serif;
}

.register {
  font-size: 1rem;
  margin-left: 2rem;
}

.span {
  color: #00FF5A;
}
